<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fake long exposure dashboard.">
    <title>Long Exposure Faker</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class=container">
        <div id="content" class="center">
            <h1>Fake Long Exposure</h1>
            <div>
                <form action="/fake-exposure-render.html" method="get">
                    <input type="hidden" name="vid" value="{{ src_url }}">
                    <div class="frame-preview">
                        <img id="start_frame" class="frame-preview" alt="start frame preview" src="/frame_preview?img={{ base }}&frame={{ start }}"/>
                        <p>
                        <label for="start">Start frame :</label>
                        <input type="range" name="start" id="start" value="{{ start }}" max="{{ max_frames }}">
                        <output for="start" id="start_num" style="width: 6em;font-family: monospace;">
                        </p>
                    </div>
                    <div class="frame-preview">
                        <img id="end_frame" class="frame-preview" alt="end frame preview" src="/frame_preview?img={{ base }}&frame={{ end }}"/>
                        <p>
                        <label for="end">End Frame :</label>
                        <input type="range" name="end" id="end" value="{{ end }}" max="{{ max_frames }}">
                        <output for="end" id="end_num" style="width: 6em;font-family: monospace;">
                        </p>
                    </div>
                    <p>
                        <label for="fcount">Average number :</label>
                        <input type="range" name="fcount" id="fcount" value="{{ fcount }}" min="1" max="40">
                        <output for="fcount" id="fcount_num" style="width: 6em;font-family: monospace;">
                    </p>
                    <input type="submit" value="Render" title="Render Fake long exposure photo">
                </form>
            </div>
            <div class="footer">
                <a href="index.html">main page</a>
                <a href="settings.html">settings</a>
                <a href="gallery.html">gallery</a>
            </div>
        </div>
    </div>

    <script>
        function link_output(n)
        {
            var range = document.getElementById(n);
            var output = document.getElementById(n + '_num');
            //set initial value
            output.value = range.value;

            range.addEventListener('input', function (e) {
              output.value = e.target.value;
            });
        }
        link_output('fcount');
        link_output('start');
        link_output('end');

        function preview_frame(n)
        {
            var range = document.getElementById(n);
            var output = document.getElementById(n + '_frame')

            function set_image(frame)
            {
                output.src = `/frame_preview?img={{ base }}&frame=${frame}`
            }
            //set initial image
            set_image(range.value);
            //add listener to update on change

            range.addEventListener('input', function(e) {
                set_image(e.target.value);
            });
        }
        //add dynamic preview handlers
        preview_frame('start');
        preview_frame('end');
    </script>
</body>
