<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gallery">
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        <div id="content" class="center">
            <h1>Gallery</h1>
            <div>
                {% for n,u in zip(images,urls) %}
                    <div class="gallery">
                        <img class="gallery" src="pictures/{{ n }}_thumb.jpg">
                        <p>
                        <a href="{{ u }}">{{ n }}</a>
                        </p>
                    </div>
                {% end %}
            </div>
            <div class="footer">
                <a href="index.html">main page</a>
                <a href="settings.html">settings</a>
            </div>
        </div>
    </div>
</body>
