<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Rocket Camera</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        <div id="content" class="center">
            <div>
                <h1>Night Rocket Camera</h1>

                <p>
                <a href="settings.html">Camera Settings</a>
                </p>
                <p>
                <a href="gallery.html">Gallery</a>
                </p>

            </div>
        </div>
    </div>
</body>

