<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Rocket Camera</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        <div id="content" class="center">
            <div>
                <h1>Night Rocket Camera</h1>

                <div class="description">
                    <p>
                    This project was born out of a desire to capture a picture of my night rocket in flight.
                    Originally the idea was to trigger it on launch and take a long exposure photo.
                    However, after getting the parts for the project, I found a tequinique to fake a long exposure photo using a video and some python code.
                    <p/>
                    <p>
                    This site allows photos and videos to be taken using the camera attached to the Raspberry Pi that the site is served off of.
                    Videos can be rendered into long exposure photos using the built in long exposure tool.
                    Because the long exposure photos are rendered from viedeos, the start and end points can be changed at will, making this approach very flexible.
                    </p>
                    <p>
                    To take a picture using the camera, go to <a href="settings.html">Camera Settings</a>.
                    To view pictures and videos that have already been taken, go to <a href="gallery.html">Gallery</a>.
                    <p>
                    This page uses Tornado to run the webserver.
                    The code for this project can be found on <a href="https://github.com/JesseMFrey/RocketCam">GitHub</a>.
                    </p>
                    <p>
                </div>
                <div class="footer">
                    <a href="settings.html">Camera Settings</a>
                    <a href="gallery.html">Gallery</a>
                </div>
            </div>
        </div>
    </div>
</body>

