<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>RocketCamra Control</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
    {% from picamera import PiCamera %}
</head>
<body>
    <div class="container">
        <div id="content" class="center">
            <div>
                {% if error is not None %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Error : {{ error }}
                </div> 
                {% end %}

                {% if read_err is not None %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Error while reading camera settings : {{ read_err }}
                </div>
                {% end %}

                <h1>Camera Controls</h1>

                <form id="set_form" action="/settings.html" method="POST" onsubmit="store_settings()">
		            <p>
                        <label for="video">Video </label>
                        <input type="radio" id="video" name="capture-type" value="video"
                            {% if capture_type=="video" %} 
                                checked
                            {% end %}
                        >
                        <label for="still">Still </label>
                        <input type="radio" id="still" name="capture-type" value="still"
                            {% if capture_type=="still" %} 
                                checked
                            {% end %}
                        >
                    </p>
                    <p>
                        <label for="shutter">Shutter speed : </label>
                        <input name="shutter" type="number" id="shutter" value="{{shutter}}" min="0" max="30e6" step="1">
                        <select id="sh_units" name="shutter_units" title="Shutter speed units">
                            <option value="1" selected=True>&micro;s</option>
                            <option value="1000">ms</option>
                            <option value="1000000">s</option>
                        </select>
                    </p>
                    <p>
                        <label for="iso">ISO : </label>
                        <select name="iso" id="iso" title="ISO speed">
                            {% for i in isos %}
                            <option value="{{i}}"
                                    {% if i==iso %}
                                        selected=True
                                    {% end %}
                                    >{{i}}</option>
                            {% end %}
                        </select>
                    </p>
                    <p>
                        <label for="mode">Camera mode : </label>
                        <select name="mode" id="mode" title="Camera mode">
                            {% for k, v in PiCamera.EXPOSURE_MODES.items() %}
                            <option value="{{v}}"
                                    {% if mode==v %}
                                        selected=True
                                    {% end %}
                                >{{k}}</option>
                            {% end %}
                        </select>
                    </p>
                    <p>
                        <label for="frame_r">Frame rate : </label>
                        <input type="number" name="frame_r" id="frame_r" value="{{frame_r}}" min="0" max="120" step=any>
                        <select id="fr_units" name="frame_rate_units" title="Shutter speed units">
                            <option value="fps" selected=True>frames&sol;second</option>
                            <option value="spf">seconds&sol;frame</option>
                        </select>
                    </p>
                    <p>
                        <!-- default value for checkbox --!>
                        <input type="hidden" name="rate_adjust" value="false"/>
                        <label for="rate_adjust" title="If frame time is longer than exposure time, decrease frame rate.">Lower frame rate to accomidate exposure</label>
                        <input type="checkbox" id="rate_adjust" name="rate_adjust" value="true"/>
                    </p>
                    <p>
                        <label for="res">Image resolution : </label>
                        <select name="resolution" id="res" title="Image resolution">
                            <option value="{{PiCamera.MAX_RESOLUTION}}">max ({{PiCamera.MAX_RESOLUTION}})</option>
                        </select>
                    </p>
                    <p>
                        <label for="awb_mode">AWB mode : </label>
                        <select name="awb_mode" id="awb_mode" title="Auto White Balance mode">
                            {% for m in PiCamera.AWB_MODES.keys() %}
                                <option value="{{m}}"
                                    {% if m==awb_mode %}
                                        selected=True
                                        {% end %}
                                >{{m}}</option>
                            {% end %}
                        </select>
                    </p>
                    <p>
                        <label for="awb_red" class="awb">AWB red : </label>
                        <input type="number" name="awb_red" class="awb" id="awb_red" value="{{ awb_gain[0] }}" min="0" step="1e-4">
                        <label for="awb_blue" class="awb">AWB blue : </label>
                        <input type="number" name="awb_blue" id="awb_blue" class="awb" value="{{ awb_gain[1] }}" min="0" step="1e-4">
                    </p>
                    <p>
                        <input type="submit" name="action" value="Capture" title="Take a picture with the saved settings">
                        <input type="submit" name="action" value="Save" title="Save and apply settins.">
                </form>
                <p>
                <a href="index.html">main page</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //handle units for frame rate
        let fr_units = document.getElementById("fr_units");
        let fr = document.getElementById("frame_r");

        fr_units.addEventListener('change', function (e){
            //only two options so, just invert the value
            fr.value = (1/parseFloat(fr.value)).toString();
        });

        //handle units for shutter speed
        let sh_units = document.getElementById("sh_units");
        let sh = document.getElementById("shutter");

        let prevous = sh_units.value;

        sh_units.addEventListener('change', function (e){

            //scale to adjust values by
            const scale = parseFloat(prevous)/parseFloat(sh_units.value);
            //scale to new vlaue
            sh.value = (parseFloat(sh.value) * scale).toString();
            sh.min   = (parseFloat(sh.min)   * scale).toString();
            sh.max   = (parseFloat(sh.max)   * scale).toString();
            sh.step  = (parseFloat(sh.step)  * scale).toString();

            //remember current value
            prevous = sh_units.value;
        });

        const max_places = 8;

        function fix_number(ele)
        {
            //get step
            let step = ele.step;
            //if step is any, skip
            //these elements won't give step errors
            if(step == "any")
            {
                return ele.value;
            }
            //get values and convert to float
            let stepf = parseFloat(step);
            let min_val = parseFloat(ele.min);
            let val = parseFloat(ele.value);
            //calculate new value
            let new_val_num = Math.round((val - min_val)/stepf) * stepf + min_val;
            //convert to string
            let new_val = new_val_num.toString();

            //it's possible that we have a roundoff error here that will give
            // errors, so we must account for this by removing unneeded digits
            let dec_idx = ele.value.indexOf(".");
            if(dec_idx == -1)
            {
                return new_val;
            }
            let places = new_val - dec_idx;

            //check if there are too many places
            if(places < max_places)
            {
                return new_val;
            }

            //loop back and find the first nonzero digit
            for (let i = max_places; i > 0; i--)
            {
                if(new_val[dec_idx + i] != "0")
                {
                    //remove unneded digits
                    return new_val.substring(0, dec_idx + i);
                }
            }
            //return integer value
            return new_val.substring(0, dec_idx -1);
        }

        //round a number input to the nearest valid value
        function make_num_valid(e)
        {
            new_val = fix_number(e.target);
            if(new_val != e.target.value)
            {
                e.target.value = new_val;
            }
        }

        //get form
        set_form = document.getElementById('set_form')
        //find inputs in form
        inputs = set_form.getElementsByTagName("input")

        for (const ele of inputs)
        {
            if(ele.type == "number")
            {
                //add andler to number inputs
                ele.addEventListener('change', make_num_valid);
            }
        }


        //save function for preferences stored in local storage
        //called when the form is submitted
        function store_settings()
        {
            //frame rate adjust checkbox
            ra = document.getElementById('rate_adjust').checked;
            localStorage.setItem('rate_adjust', ra);
            //shutter speed units
            sh_u = document.getElementById('sh_units').selectedIndex;
            localStorage.setItem('sh_unit_idx',sh_u);
            //frame rate units
            fr_u = document.getElementById('fr_units').selectedIndex;
            localStorage.setItem('fr_unit_idx',fr_u);
        }

        //get preferences stored in local storage

        //get rate_adjust value and convert to Boolean
        stored_rate_adjust = (localStorage.getItem('rate_adjust') === 'true');
        if(stored_rate_adjust != null)
        {
            document.getElementById('rate_adjust').checked = stored_rate_adjust;
        }

        //dispatch a change event to an element
        function change_evt(element)
        {
            //code from : https://stackoverflow.com/a/2856602
            //requires checking what's available
            if ("createEvent" in document)
            {
                var evt = document.createEvent("HTMLEvents");
                evt.initEvent("change", false, true);
                element.dispatchEvent(evt);
            }
            else
            {
                element.fireEvent("onchange");
            }
        }

        //set shutter speed units from shared storage
        stored_sh_unit_idx = localStorage.getItem('sh_unit_idx');

        if(stored_sh_unit_idx != null)
        {
            sh_units = document.getElementById('sh_units');
            sh_units.selectedIndex = stored_sh_unit_idx;
            change_evt(sh_units);
        }

        //set frame rate units from shared storage
        stored_fr_unit_idx = localStorage.getItem('fr_unit_idx');

        if(stored_fr_unit_idx != null)
        {
            fr_units = document.getElementById('fr_units');
            //get old value
            old_units = fr_units.value;
            //change units to saved value
            fr_units.selectedIndex = stored_fr_unit_idx;
            //get new value
            new_units = fr_units.value;
            //check if units changed
            if( new_units != old_units )
            {
                //send changed event
                change_evt(fr_units);
            }
        }

    </script>
</body>

