<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>RocketCamra Control</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
    {% from picamera import PiCamera %}
</head>
<body>
    <div class="container">
        <div id="content" class="center">
            <div>
                {% if error is not None %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Error : {{ error }}
                </div> 
                {% end %}

                {% if read_err is not None %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Error while reading camera settings : {{ read_err }}
                </div>
                {% end %}

                <h1>Camera Controls</h1>

                <form action="/settings.html" method="POST">
		            <p>
                        <label for="video">Video </label>
                        <input type="radio" id="video" name="capture-type" value="video"
                            {% if capture_type=="video" %} 
                                checked
                            {% end %}
                        >
                        <label for="still">Still </label>
                        <input type="radio" id="still" name="capture-type" value="still"
                            {% if capture_type=="still" %} 
                                checked
                            {% end %}
                        >
                    </p>
                    <p>
                        <label for="shutter">Shutter speed : </label>
                        <input name="shutter" type="number" id="shutter" value="{{shutter}}" min="0" max="30e6" step="1">
                        <select id="sh_units" name="shutter_units" title="Shutter speed units">
                            <option value="1" selected=True>&sol;1000000 seconds</option>
                            <option value="1000">&sol;1000 seconds</option>
                            <option value="1000000">seconds</option>
                        </select>
                    </p>
                    <p>
                        <label for="iso">ISO : </label>
                        <select name="iso" id="iso" title="ISO speed">
                            {% for i in isos %}
                            <option value="{{i}}"
                                    {% if i==iso %}
                                        selected=True
                                    {% end %}
                                    >{{i}}</option>
                            {% end %}
                        </select>
                    </p>
                    <p>
                        <label for="mode">Camera mode : </label>
                        <select name="mode" id="mode" title="Camera mode">
                            {% for k, v in PiCamera.EXPOSURE_MODES.items() %}
                            <option value="{{v}}"
                                    {% if mode==v %}
                                        selected=True
                                    {% end %}
                                >{{k}}</option>
                            {% end %}
                        </select>
                    </p>
                    <p>
                        <label for="frame_r">Frame rate : </label>
                        <input type="number" name="frame_r" id="frame_r" value="{{frame_r}}" min="0" max="120" step=any>
                        <select id="fr_units" name="frame_rate_units" title="Shutter speed units">
                            <option value="fps" selected=True>frames&sol;second</option>
                            <option value="spf">seconds&sol;frame</option>
                        </select>
                    </p>
                    <p>
                        <!-- default value for checkbox --!>
                        <input type="hidden" name="rate_adjust" value="false"/>
                        <label for="rate_adjust" title="If frame time is longer than exposure time, decrease frame rate.">Lower frame rate to accomidate exposure</label>
                        <input type="checkbox" id="rate_adjust" name="rate_adjust" value="true"/>
                    </p>
                    <p>
                        <label for="res">Image resolution : </label>
                        <select name="resolution" id="res" title="Image resolution">
                            <option value="{{PiCamera.MAX_RESOLUTION}}">max ({{PiCamera.MAX_RESOLUTION}})</option>
                        </select>
                    </p>
                    <p>
                        <label for="awb_mode">AWB mode : </label>
                        <select name="awb_mode" id="awb_mode" title="Auto White Balance mode">
                            {% for m in PiCamera.AWB_MODES.keys() %}
                                <option value="{{m}}"
                                    {% if m==awb_mode %}
                                        selected=True
                                        {% end %}
                                >{{m}}</option>
                            {% end %}
                        </select>
                    </p>
                    <p>
                        <label for="awb_red">AWB red : </label>
                        <input type="number" name="awb_red" id="awb_red" value="{{ awb_gain[0] }}" min="0" step="1e-4">
                        <label for="awb_blue">AWB blue : </label>
                        <input type="number" name="awb_blue" id="awb_blue" value="{{ awb_gain[1] }}" min="0" step="1e-4">
                    </p>
                    <p>
                        <input type="submit" name="action" value="Capture" title="Take a picture with the saved settings">
                        <input type="submit" name="action" value="Save" title="Save and apply settins.">
                </form>
                <p>
                <a href="index.html">main page</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //handle units for frame rate
        let fr_units = document.getElementById("fr_units");
        let fr = document.getElementById("frame_r");

        fr_units.addEventListener('change', function (e){
            //only two options so, just invert the value
            fr.value = (1/parseFloat(fr.value)).toString();
        });

        //handle units for shutter speed
        let sh_units = document.getElementById("sh_units");
        let sh = document.getElementById("shutter");

        let prevous = sh_units.value;

        sh_units.addEventListener('change', function (e){

            //scale to adjust values by
            const scale = parseFloat(prevous)/parseFloat(sh_units.value);
            //scale to new vlaue
            sh.value = (parseFloat(sh.value) * scale).toString();
            sh.min   = (parseFloat(sh.min)   * scale).toString();
            sh.max   = (parseFloat(sh.max)   * scale).toString();
            sh.step  = (parseFloat(sh.step)  * scale).toString();

            //remember current value
            prevous = sh_units.value;
        });
    </script>
</body>

