
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Video Preview">
    <title>Video</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class=container">
        <div id="content" class="center">
            <div class="section">
                <h1>Video Preview</h1>
                <p>
                    <video width="320" height="240" controls>
                        <source src="{{ vid_url }}" type="video/mp4" alt="Captured Video">
                        Your browser does not support the video tag.
                    </video> 
                </p>
                <p>
                Use the <a href="fake-exposure-settings.html?vid={{ raw_url }}">fake long exposure tool</a> to create fake long exposure night photos.
                {% if stills %}
                    Prevously generated long exposure photos are shown below.
                {% end %}
                </p>
                <p>
                Download the video in <a href="{{ raw_url }}" download>raw</a> or <a href="{{ vid_url }}" download>containerized</a> format.
                </p>
            </div>
            {% if stills %}
            <div class="section">
                <h2>Fake Long Exposure Photos</h2>
                <span>
                {% for img, page in stills %}
                    <div class="fexp-gallery">
                        <a href="{{ page }}">
                            <img class="fexp-gallery" src="{{ img }}"/>
                        </a>
                    </div>
                {% end %}
                </span>
            </div>
            {% end %}
            <div class="section">
                <a href="settings.html">settings</a>
                <a href="index.html">main page</a>
                <a href="gallery.html">gallery</a>
            </div>
        </div>
    </div>
</body>
